div
 label
  input#ax(type='checkbox',onChange=this.chartItemsChange)
  |  加速度X
 label
  input#ay(type='checkbox',onChange=this.chartItemsChange)
  |  加速度Y
 label
  input#az(type='checkbox',onChange=this.chartItemsChange)
  |  加速度Z
 label
  input#gx(type='checkbox',onChange=this.chartItemsChange)
  |  角速度X
 label
  input#gy(type='checkbox',onChange=this.chartItemsChange)
  |  角速度Y
 label
  input#gz(type='checkbox',onChange=this.chartItemsChange)
  |  角速度Z
