div
 label
  input#ax(type='checkbox',onChange=this.chartItemsChange)
  font(color='#f28c36') 加速度X
 label
  input#ay(type='checkbox',onChange=this.chartItemsChange)
  font(color='#e54520') 加速度Y
 label
  input#az(type='checkbox',onChange=this.chartItemsChange)
  font(color='#629ac9') 加速度Z
 label
  input#gx(type='checkbox',onChange=this.chartItemsChange)
  font(color='"#cfe43f') 角速度X
 label
  input#gy(type='checkbox',onChange=this.chartItemsChange)
  font(color='#CCCC00') 角速度Y
 label
  input#gz(type='checkbox',onChange=this.chartItemsChange)
  font(color='#8e37ca') 角速度Z
